<h1 class="container">

    <form action="/form" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="name" id="nombre">
        <br>
        <br>
        <label for="edad">Edad:</label>
        <input type="text" name="age" id="edad">
        <input type="submit" value="Submit">
    </form>
</h1>