<div id="menu-bar">
    <ul>
        <!-- Agregar # para que funcione nuevamente -->
        <li><a id="uno" href="/">Inicio</a></li>
        <li><a id="dos" href="/form">Formulario</a></li>
        <li><a id="tres" href="">#</a></li>
    </ul>
</div>